<mat-toolbar class="mbotton10">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Event list Page</span>
  <span class="example-spacer"></span>
  <div>BENVENUTO {{userData?.username}}</div>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <div (click)="goToLoginPage()" class="exit-icon positionEnd"></div>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Tutti gli Eventi">
    <div class="primaryContent">
      <div class="flex centered">
        <div class="section-title">TUTTI GLI EVENTI</div>
        <div (click)="reloadingEvents()" class="reload-icon"></div>
      </div>

      <mat-list *ngIf="eventDataList && eventDataList.length > 0" role="list" class="event-list">
        <mat-list-item class="box-event" *ngFor="let item of eventDataList" 
                       (click)="openDescription(item)" role="listitem">
            <div class="event-details">
            <div class="w50">Nome Evento: {{item.title}}</div>
            <div class="w20">Luogo: {{item.place}}</div>
            <div class="w20">Numero Partecipanti: {{item.participantIds.length}}</div>
            <div *ngIf="!isMyEvent(item)" (click)="partecipa(item)" class="w20">{{isUserIscritto(item)? "Iscritto": "Iscriviti"}}</div>
            <div *ngIf="isMyEvent(item)"  class="edit-icon positionModifyIcon"></div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>

      <div *ngIf="eventDataList && eventDataList.length === 0" class="no-events">Non ci sono eventi</div>
    </div>
  </mat-tab>

  <mat-tab label="I Miei Eventi">
    <div class="primaryContent">
      <div class="flex centered">
        <div class="section-title">I MIEI EVENTI</div>
        <div (click)="reloadingMyEvents()" class="reload-icon"></div>
      </div>

      <mat-list *ngIf="eventMyDataList && eventMyDataList.length > 0" role="list" class="event-list">
        <mat-list-item class="box-event" *ngFor="let item of eventMyDataList" 
                       (click)="openDescription(item)" role="listitem">
          <div class="event-details">
            <div class="w50">Nome Evento: {{item.title}}</div>
            <div class="w20">Luogo: {{item.place}}</div>
            <div class="w20">Numero Partecipanti: {{item.participantIds.length}}</div>
            <div *ngIf="isMyEvent(item)" class="edit-icon positionModifyIcon"></div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>

      <div *ngIf="eventMyDataList && eventMyDataList.length === 0" class="no-events">Non ci sono eventi</div>

      <div class="add-button-container">
        <button (click)="openModalAdd()" color="primary" mat-flat-button>Add new Item</button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
