:host{
    .positionEnd{
        position: absolute;
        right: 20px;
    }
    .primaryContent{
        flex-direction: column;
    }
    .reload-icon{
        width: 30px;
        height: 30px;
    }
}