/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

img[mat-card-image] {
  object-fit: cover;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .capitalize{
    text-transform: capitalize;
  }
  
  .highlighted {
    background-color: yellow;
  }
  .text-center{
    text-align: center;
  }
  .primaryContent{
    display: flex;
    margin-top: 3.13rem;
    justify-content: center;
  }
  .flex{
    display: flex;
  }
  .h100{
    height: 100%;
  }
  .column{
    flex-direction: column;
  }

  .self-center{
    align-self: center;
  }

  .mbotton10{
    margin-bottom: 0.63rem;
  }
  .mTop20{
    margin-top: 1.25rem;
  }
  .example-spacer{
    width: 100%;
  }
  .w20{
    width: 20%;
  }
  .w50{
    width: 50%;
  }
  .class-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .box-spinner{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
  }

//icon ---------------------------

.arrow-back{
  background-image: url("./assets/icons/reshot-icon-left-arrow.svg");
  width: 3.13rem;
  height: 3.13rem;
  background-size: contain;
}

.exit-icon{
  background-image: url("./assets/icons/exit-icon.svg");
  width: 5.00rem;
  height: 3.13rem;
  background-size: cover;
}

.reload-icon{
  background-image: url("./assets/icons/reload-icon.svg");
  width: 3.13rem;
  height: 3.13rem;
  background-size: contain;
}

.edit-icon{
  background-image: url("./assets/icons/edit-icon.svg");
  width: 3.13rem;
  height: 3.13rem;
  background-size: contain;
}

//font ------------

.font-title-page{
  font-size: 1.88rem;
  font-family: fantasy;
}

//color button
.red-button{
  background-color: red;
}
.blue-button{
  background-color: blue
}
.green-button{
  background-color: green
}
