.containerModal {
  margin: 1.25rem;
  overflow-y: scroll;
  max-height: 56.25rem;
  height: 37.5rem;
  width: 31.25rem;
}
.modal-title {
  font-size: 1.50rem;
  font-weight: bold;
  text-align: center;
  padding: 0.94rem 0;
  border-bottom: 0.13rem solid #ccc;
  margin-bottom: 1.25rem;
}
.upload-box {
  border: 0.13rem dashed #ccc;
  padding: 1.25rem;
  text-align: center;
  cursor: pointer;
  margin-top: 0.63rem;
  margin-bottom: 0.63rem;
}

.upload-box p {
  margin: 0;
  color: #aaa;
}
