<ion-header class="centered mTop10">
    <ion-toolbar color="primary">
      <ion-title class="font-title-page">REGISTRATION PAGE</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="primaryContent">
    <div class="containerBox">
      <form class="text-center" [formGroup]="registrationForm" novalidate>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" required>
            <mat-error *ngIf="registrationForm.get('email')?.dirty && registrationForm.get('email')?.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="registrationForm.get('email')?.dirty && registrationForm.get('email')?.hasError('email')">Invalid email format</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-error *ngIf="registrationForm.get('password')?.dirty && registrationForm.get('password')?.hasError('required')">Password is required</mat-error>
          </mat-form-field>
        </div>
        <div class="flex column">
          <button class="mbotton10" (click)="register()" mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">Register</button>
          <button color="primary" mat-flat-button (click)="goToPageLogin()">Go to Login</button>
        </div>
        <!-- <div style="margin-top: 20px;" class="centered">
          <div class="arrow-back" (click)="goBack()"></div>
        </div> -->
      </form>
    </div>
  </ion-content>
