:host {
    display: block;
    height: 100vh; /* Cover the entire vertical viewport */
    width: 100vw; /* Cover the entire horizontal viewport */
    
    .input-group {
      background: #fff;
      border-radius: 0.63rem;
      overflow: hidden;
      margin-bottom: 0.94rem;
    }
    
    .errors {
      font-size: small;
      color: #fff;
      background: var(--ion-color-danger);
      padding-left: 0.94rem;
      padding-top: 0.31rem;
      padding-bottom: 0.31rem;
    }
    .formBox{
      width: 31.25rem;
    }
    .containerBox{
      border-radius: 0.63rem;
      background: #ffffff;
      padding: 1.25rem;
      min-width: 6.25rem;
      min-height: 15.63rem;
      text-align: -webkit-center;
    }
  }
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }