<div class="containerModal">
  <div class="modal-title">AGGIUNGI IL TUO EVENTO</div>
  <form class="text-center" [formGroup]="newEventForm" novalidate>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Titolo</mat-label>
        <input matInput type="text" formControlName="title" required>
        <mat-error *ngIf="newEventForm.get('title')?.dirty && newEventForm.get('title')?.hasError('required')">Title is required</mat-error>
        <mat-error *ngIf="newEventForm.get('title')?.dirty && newEventForm.get('title')?.hasError('title')">Invalid title format</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Descrizione</mat-label>
        <input matInput type="text" formControlName="description" required>
        <mat-error *ngIf="newEventForm.get('description')?.dirty && newEventForm.get('description')?.hasError('required')">Description is required</mat-error>
        <mat-error *ngIf="newEventForm.get('description')?.dirty && newEventForm.get('description')?.hasError('description')">Invalid description format</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Luogo</mat-label>
        <input matInput type="text" formControlName="place" required>
        <mat-error *ngIf="newEventForm.get('place')?.dirty && newEventForm.get('place')?.hasError('required')">Place is required</mat-error>
        <mat-error *ngIf="newEventForm.get('place')?.dirty && newEventForm.get('place')?.hasError('place')">Invalid place format</mat-error>
      </mat-form-field>
    </div>
    <div class="upload-box" (click)="fileInput.click()">
      <input #fileInput type="file" (change)="onFileSelected($event)" style="display: none;" required>
      <div *ngIf="filePreview; else uploadPrompt">
        <img [src]="filePreview" alt="Image Preview" style="max-width: 100%; height: auto;">
      </div>
      <ng-template #uploadPrompt>
        <p>Clicca per caricare la foto</p>
      </ng-template>
      <mat-error *ngIf="newEventForm.get('file')?.dirty && newEventForm.get('file')?.hasError('required')">Photo is required</mat-error>
    </div>
    <button class="mbotton10" (click)="createEvent()" mat-raised-button color="primary" type="submit" [disabled]="newEventForm.invalid">Create</button>
  </form>
</div>
